.storiessection {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.storybycategory {
  width: 100%;
  height: fit-content;
}

.storybycategory > p:first-of-type {
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem;
  margin-top: 0.8rem;
}

.story {
  width: 12rem;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0.75rem;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  flex-basis: 12rem;
  min-width: 12rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.story p {
  position: absolute;
  bottom: 0;
  font-weight: 600;
  font-size: 19px;
  padding: 0.3rem;
  z-index: 3;
}

.story .storydescription {
  font-weight: 100;
  font-size: 15px;
  font-family: DM Sans;
}

.categorystories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

.categorystoriesUSER {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  min-height: 25rem;
}

.categorystoriesShowMore {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.storybycategory button {
  border-radius: 20px;
  background: #ff7373;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}

.story img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.3);
  border: none;
  border-radius: 12px;
  object-fit: cover;
  z-index: 1;
}

.story button {
  z-index: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  padding: 0;
  color: black;
  scale: 0.7;
  border-radius: 32px;
  height: 15%;
  cursor: pointer;
  position: absolute;
  bottom: -10.5%;
  transform: translate(-70%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.story button:first-of-type > p {
  position: relative;
  right: 15%;
}

.story button:first-of-type > img {
  z-index: 4;
  scale: 0.5;
  position: relative;
  margin: 0px;
}

.overlayInfinity {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9;
}

.infinitySlide {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 27%;
  height: 80%;
  background-color: rgb(20, 1, 1);
  border-radius: 12px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(255, 254, 254, 0.571) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(255, 254, 254, 0.571) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
