.storypart {
  width: 100%;
  height: max-content;
}

.categoriescontainer {
    width: 100%;
    overflow: scroll;
}

.categories {
  width: max-content;
  display: flex;
  flex-direction: row;
}

.category {
  width: 8rem;
  height: 5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff7373;
  margin: 0.8rem;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.category img::before {
  content: none;
}

.category img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  border: none;
  border-radius: 24px;
  object-fit: cover;
  z-index: 1;
}

.category p {
  z-index: 3;
  position: absolute;
}

.selected {
  border: 2px solid #00acd2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
